[user]
	name = YOUR_NAME
	email = YOUR_EMAIL
[color]
	ui = auto
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[rebase]
	autoStash = true
[rerere]
	enabled = true
